

/* CSS Document */
html,body{margin:0;padding:0;}
body{font: 76%, arial,sans-serif;text-align:center}
p{margin:0 10px 10px}
a{color: #981793;padding:10px}
div#header h1{height:80px;line-height:80px;margin:0;
  padding-left:10px;background: #EEE;color: #79B30B}
div#header h2{height:30px;margin:0;
  padding-left:10px;background: #EEE}
div#container{text-align:left}
div#content p{line-height:1.4}
div#navigation{background:#B9CAFF; padding-left: 5px;}
div#extra{background:#FF8539; padding-left: 5px;}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}

div#container{width:1024px;margin:0 auto}
div#content{float:right;width:800px; background-color: #ffd6ac; padding-left: 5px;}
div#navigation{float:left;width:200px;padding-top: 5px;}
div#extra{float:left;clear:left;width:200px}
div#footer{clear:both;width:100%}


div#menuh {
	
	margin-top: 20px;
}



div#menuh ul, li {
	list-style-type: none;
}

div#menuh ul {
	margin: 0;
	padding: 0;
}

div#menuh li {
	float: left;
}

div#menuh a {
	text-decoration: none;
	color: #000000;
	background: #FED;
	display: block;
	padding: 3px 10px;
	text-align: center;
	border: 1px solid #330;
	border-width: 1px 1px 1px 0;
}


div#menuh a#primero {
	border-left: 1px solid #330;
}

div#menuh a:hover {
	 color: #FFF;
	background: #A64;
}




table#datos {
	font: 80% "Arial";
	border-collapse:collapse;
	background: #FED;
	
}

table#datos td
{
	 padding: 3px  ;
}